html {
	margin: 0;
	padding: 0;
    background: linear-gradient(black,slategray);
    height: 100%;
}
body {
	width: 70%;
	margin: 0 auto;
	font: 100% Arial, Helvetica, sans-serif;
	padding: 1em 50px;
	background: white;
}
h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 2em;
	font-weight: normal;
	margin: 0 0 .4em;
	padding: 5px 10px;
	color: red;
}
p {
	line-height: 1.6;
	text-align: justify;
	width: 100%;
	margin: 0;
	margin-bottom: 1em;
}
